body{
    background-color: lightgray !important;
}
input{
    background-color:transparent !important;
    border-color:#000 !important ;
}
input:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: #000 !important;
}
.alert{
    display:none;
}
.button{
    display: flex !important;
    flex-wrap: nowrap !important;
    background-color: #000 !important;
   
}
.checkbox{
    margin-top: 10px;
    width: 20px;  /* Adjust width */
    height: 20px; /* Adjust height */
    
}